:root {
    --cerulean-crayola: #06AED5;
    --blue-sapphire: #086788;
    --jonquil: #F0C808;
    --papaya-whip: #FFF1D0;
    --maximum-red: #DD1C1A;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--cerulean-crayola);
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    flex-direction: column;

    height: 500px;
    width: 500px;
    background-color: violet;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pixel {
    height: 20px;
    width: 20px;
    border: 0.1rem solid var(--jonquil);
}

.pixel.drawn {
    background-color: var(--blue-sapphire);
}
