:root {
    --cerulean-crayola: #06AED5;
    --blue-sapphire: #086788;
    --jonquil: #F0C808;
    --papaya-whip: #FFF1D0;
    --maximum-red: #DD1C1A;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--cerulean-crayola);
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: var(--jonquil);
    font-size: 4rem;
    margin: 0;
}

.grid {
    display: flex;
    flex-direction: column;

    height: 500px;
    width: 500px;
    background-color: violet;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pixel {
    height: 20px;
    width: 20px;
    border: 1px solid var(--jonquil);
}

.pixel.drawn {
    background-color: var(--blue-sapphire);
}

#control-panel {
    margin-top: 5px;
    position: relative;
}

.controls {
    border-radius: 0 0 40% 40%;
    background-color: var(--jonquil);
    margin-left: 5px;
}

#btn-new-grid {
    border-radius: 0;
    position: absolute;
}
